<div id="layout-header">
    <a href="/">Codial</a>

    <% if(locals.user) { %>
        <div>
            <span> <% user.name %> </span>

            <!-- TODO:  change the signout link-->
            <a href=""> logout </a>
        </div>
    <% } %>
</div>