<link rel="stylesheet" href="/css/form.css">

<main id="main-body">
    <form action="/signup" method="post">
        <form action="" method="post">
            <input type="text" name="name" placeholder="name" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="passowrd" required>
            <input type="password" name="cpassword" placeholder="confirm password" required>
            <input type="submit" value="create">
        </form>
    </form>
</main>